.propertiesLabel {
  flex: 1;
  height: 24px;
  padding: 0 12px;
  background: rgba(208, 217, 251, 0.04);
  border: none;
  outline: none;
  border-radius: var(--radius-sm);
  font-size: 12px;
  font-weight: 500;
  color: var(--content-emphasis);
}

.propertiesLabel:focus {
  outline: none;
}
