.editor {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--bg-darkest);
  overflow: hidden;
}

.leftZone {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.centerTopZone {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.centerBottomZone {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-width: 0;
}

.centerBottomZone > * {
  flex: 1;
  min-width: 0;
}

.rightZone {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}




